DoorConfig/Connected Services/DoorControllerService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DoorControllerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DoorControllerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Door">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOpen" type="xs:boolean" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Door" nillable="true" type="tns:Door" />
  <xs:complexType name="ArrayOfDoor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Door" nillable="true" type="tns:Door" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoor" nillable="true" type="tns:ArrayOfDoor" />
</xs:schema>